@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7f7f7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236200ff' fill-opacity='0.13'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.white{
    background-color: #ffffff;
}
.not{
    background-color: #f7f7f7;
}
* {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.a{
    text-decoration: none;
}
.a:hover{
    border-bottom: 2.5px solid rgb(144, 0, 255);
}
.navbar{
    /* border: 2px solid red; */
    padding: 2px;
    line-height: 50px;
    box-shadow:0px 2px 6px 1px #d3d1d1;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.flex-child1{
    flex: 0.2;
    /* border: 2px solid red; */
    /* margin-right: 1px; */
    padding: 0.5%;
}
.flex-child2{
    flex: 0.1;
    /* width: 15%; */
    /* border: 2px solid red; */
}
.flex-child3{
    /* justify-content: space-around ; */
    flex: 0.3;
    /* border: 2px solid red; */
}
.flex-child4{
    /* justify-content: center ; */
    flex: 0.6;
    /* border: 2px solid red; */
    /* margin-right: 1px; */
}
.lbl{
        /* font-family: 'Rubik', sans-serif; */
    /* padding: 7px; */
    /* border: 2px solid blue; */
    color:rgb(108, 108, 108);
    /* text-align: center; */
    margin-right: auto;
}
.logo{
    /* border: 2px solid blue; */
    border-radius: 50px;
    color: white;
    background-color: #08AEEA;
    background-image: linear-gradient(320deg, #6c1af8 0%, #e019ee 100%);
    width: 35px;
    height: 35px;
    margin-left: auto;
}
.btn{
    /* border: 2px solid red; */
    padding: 5px;
    padding-top: 3%;
    padding-bottom:1.9%;
    width: 10px;
    color: #32195d;
    font-weight: 600;
    margin: 3%;
    line-height: 100%;
}
.btn2{
    /* border: 2px solid red; */
    padding: 6px;
    width: 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    margin: 3%;
    box-shadow: 1px 2px 6px 0px #8e8c8c;
    background-image: linear-gradient(350deg,#a91ff3f1 0%, #8525fbf1 100%);
    background-color: #6836fc;
    transition: 100ms;
    /* box-shadow: 0px 4px 6px 0px #d3d1d1; */
}
.btn2:hover{
    /* border: 2px solid red; */
    padding: 6px;
    width: 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    margin: 3%;
    box-shadow: 1px 2px 6px 0px #323232;
    background-image: linear-gradient(350deg,#a319ee 0%, #7e1af8 100%);
    background-color: #5821fd;
}
input{
    font-weight: 400;
    border-radius: 4px;
    border: 2px solid rgb(233, 233, 233);
    padding: 7px;
    color: rgb(67, 54, 113);
    text-decoration: none;
    transition: 0.4s;
    width: 90%;
}
input::placeholder{
    color: rgb(199, 198, 198);
}

input:focus {
    /* transition: width 2s; */
    /* animation-duration: 0.9s; */
    /* animation-duration: 0.9s; */
    outline: none;
    /* outline-color: rgb(85, 226, 182); */
    box-shadow: 0px 0px 1px 1px rgba(176, 27, 245, 0.7);
    /* box-shadow: 3px 5px 9px; */
}

/* this is footer here */

.footer{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.headcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:4px 1px 6px 1px #d3d1d1;
    /* box-shadow: 0 -5px 6px -5px #d3d1d1; */
    /* border: 2px solid red; */
}
.fcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow:4px 1px 6px 1px #d3d1d1; */
    box-shadow: 0 -4px 6px -5px #d3d1d1;
    /* border: 2px solid red; */
}
.fbtn{
    display: block;
    /* text-align: center; */
    /* padding: 14px 16px; */
    padding: 13px;
    text-decoration: none;
    font-size: 65%;
    font-weight: 600;
    color: #ad39ecf3;
    /* color: #a51eeef3; */
    /* border: 2px solid blue; */
    /* padding-left: 43%;
    padding-right: 43%; */
    
}
.f1{
    flex: 1;
    line-height: 1%;
    /* border: 2px solid red; */
}
.f2{
    flex: 1;
    line-height: 1%;
    /* border: 2px solid red; */
}
.f3{
    flex: 1;
    line-height: 1%;
    /* border: 2px solid red; */
}
.f4{
    flex: 1;
    line-height: 1%;
    /* border: 2px solid red; */
}
.f5{
    flex: 1;
    line-height: 1%;
    /* border: 2px solid red; */
}

#fco{
    /* display: block; */
    position: absolute;
    color:#9224f8;
    transition-duration: 90ms;
    font-size:19px;
    border: 2px solid red;
}




.footer{
    /* display: none !important; */
    visibility: hidden;
    
}
.header2{
    visibility: hidden;
}
@media screen and (max-width: 1050px) {
    .navbar {
       /* do what you want here */
       display: none !important;
    }
    .header2{
        visibility: visible;
    }

    .footer{
        /* display: f; */
        visibility: visible;
    }

    .logo{
        /* border: 2px solid blue; */
        border-radius: 50px;
        color: white;
        background-color: #08AEEA;
        background-image: linear-gradient(320deg, #6c1af8 0%, #e019ee 100%);
        width: 20px;
        height: 20px;
        margin-left: auto;
    }
    .lbl{
        /* font-family: 'Rubik', sans-serif; */
        /* border: 2px solid blue; */
        color:rgb(108, 108, 108);
        /* text-align: center; */
        line-height: 45px;
        font-size: 20px;  
        
    }
    .flex-child3 {
        /* do what you want here */
        /* border: 2px solid red; */
        display: none !important;
    }
}


/* post here__________________-------------- */
/* post here -----------------------*/
/* post here */
.same_line{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 3px solid rgb(255, 16, 211); */
    width: 99%;

}
.home{
    height:fill;
    /* justify-content: center; */
    /* border: 3px solid rgb(255, 16, 211); */
    padding: 10px;
}


.post {
    padding-bottom: 0.4%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(241, 241, 241);
    width: 45%;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow:0px 2px 6px 1px #d3d1d1;}


.post_top{
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    /* border: 3px solid rgb(250, 0, 0); */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}
.avatar{
    /* border: 3px outset rgb(13, 168, 245); */
    width: 45px;
    border-radius: 50%;
    float: left;
    /* flex: 1; */
}
.name{
    /* height: auto; */
    /* margin-left:6.5%; */
    /* margin-right:100%; */
    font-weight: 600;
    /* border: 2px solid rgb(0, 250, 50); */
    /* width: 100%; */
    flex: 1;
}
.follow{
    /* height: auto; */
    /* margin-left:6.5%; */
    flex: 11;
    font-weight: 600;
    text-decoration: none;
    /* border: 2px solid rgb(0, 250, 50); */
    /* padding-top: 12%; */
    /* padding-left: 100%; */
    /* float: right; */
    /* width: 100%; */
    

}


.post_main{
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    /* border: 3px solid rgb(4, 255, 176); */
}
.post_pic{
    display: block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6%;
    padding-bottom: 0.7%;
}


.post_bottom{
    margin-right: auto;
    margin-left: auto;
    /* border: 3px solid rgb(255, 0, 0); */
}
.react_text{
    padding: 0px;
    text-align: center;
    align-items: center;
    /* border: 3px solid rgb(248, 221, 14); */
}
.post_react_text{
    display: inline-block;
    /* background-color: rgba(233, 233, 233, 0.932); */
    outline-style: none;
    /* border: 3px solid rgb(248, 221, 14); */
    margin-left: 6%;
    margin-right: 5%;
    width: 20%;
    text-align: center;
    padding: 0.4%;
    border-radius: 5px;
    text-decoration: none;
    
}
.react_box{
    /* border: 3px solid rgb(248, 221, 14); */
    text-align: center;
    align-items: center;
}
.post_react{
    display: inline-block;
    background-color: rgba(233, 233, 233, 0.932);
    outline-style: none;
    /* border: 3px solid rgb(248, 221, 14); */
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    padding: 0.4%;
    border-radius: 5px;
    
}
.material-icons{
    color: #7b00ff;
}

@media screen and (max-width: 1500px) {
    .post{
        width: 55%;
    }
}
@media screen and (max-width: 1200px) {
    .post{
        width: 65%;
    }
}
@media screen and (max-width: 950px) {
    .post{
        width: 75%;
    }
}
@media screen and (max-width: 750px) {
    .post{
        width: 85%;
    }
}
@media screen and (max-width: 600px) {
    .post{
        width: 98%;
    }
}
